@import '../../../assets/styles/_mixins'

.image-uploader
  @include figure($width: 70px, $height: 70px)
  @include border-radius($radius: 10px)
  box-shadow: 0px 2px 2px rgba(169, 169, 169, 0.25)
  background: conic-gradient(from 180deg at 50% 50%, #322FBB 0deg, rgba(142, 14, 145, 0.2) 360deg)
  cursor: pointer
  &:hover
    -webkit-filter: brightness(90%)
