@import '../../../assets/styles/_variables'
@import '../../../assets/styles/_mixins'
  
.layer-card
  @include flexbox($gap: 10px)
  @include align-items($value: center)
  @include justify-content($value: space-between)
  @include margin-padding($p-direction: all, $p-amount: 10px)
  @include border-radius($radius: 6px)
  background: $color-light
  box-shadow: 0px 4px 10px rgba(88, 104, 164, 0.25)
  &:not(.active)
    -webkit-filter: opacity(.6)
  
  .layer-card-title
    @include flexbox($gap: 5px)
    @include align-items($value: center)

    .layer-card-type
      @include flexbox
      @include figure($width: 20px, $height: 20px)
      @include justify-content($value: center)
      @include align-items($value: center)
      @include border-radius($radius: 5px)

      &.type-3d
        background: $color-3d
        img
          @include figure($width: 13.5px, $height: 13.5px)
      
      &.type-relief
        background: $color-relief
        img
          @include figure($width: 12px, $height: 12px)
      
      &.type-demos
        background: $color-demos
      
  .layer-card-controls
    @include flexbox($gap: 10px)
    @include align-items($value: center)
    

    img
      @include figure($width: 19px, $height: 19px)
      cursor: pointer
      
    
      
      
    
    
  
  