@import '../../../assets/styles/_mixins'
@import '../../../assets/styles/_variables'

button.custom-button
  @include border-radius($radius: 30px)
  @include font($size: 16px, $weight: 700)
  box-shadow: 0px 2px 2px rgba(169, 169, 169, 0.25)

  &.circle
    @include flexbox
    @include justify-content($value: center)
    @include align-items($value: center)
    @include font($size: 12px, $weight: 700)
    
    &.small, &.medium
      @include figure($width: 30px, $height: 30px)
      @include margin-padding($p-direction: all, $p-amount: 0)
    
  &.small
    @include margin-padding($p-direction: all, $p-amount: 3px 10px)
    @include font($size: 10px, $weight: 700)

  &.medium
    @include margin-padding($p-direction: all, $p-amount: 10px 30px)

  &.large
    @include margin-padding($p-direction: all, $p-amount: 10px 30px)
    width: 100%

  &:hover
    -webkit-filter: brightness(97%)

  &.primary
    background: $color-primary

  &.secondary
    background: $color-light
