@import '../../../assets/styles/_mixins'
@import '../../../assets/styles/_variables'

.user-image
  @include flexbox
  @include justify-content($value: center)
  @include align-items($value: center)
  @include position($position: relative)
  @include figure($width: 70px, $height: 70px)
  @include border-radius($radius: 10px)
  cursor: pointer
  background: $color-light
  cursor: pointer
  overflow: hidden
  &.has-image
    box-shadow: 0px 2px 2px rgba(169, 169, 169, 0.25)
  &.circle
    border-radius: 50%
  &.small
    @include figure($width: 32px, $height: 32px)
  &.bordered
    border: 4px solid $color-error
    &.has-image
      @include figure($width: 15px, $height: 15px)
      border: 4px solid $color-user-secondary
  img
    width: inherit
    height: inherit
    &.pencil
      @include figure($width: 20px, $height: 20px)
      @include position($position: absolute, $h-center: true, $v-center: true)
  .upload-image-modal
    background: red !important