@import './assets/styles/_fonts'
@import './assets/styles/_variables'
@import './assets/styles/_nullstyles'
@import './assets/styles/_mixins'
@import './assets/styles/_defaultstyles'

#root, body
  background: $color-primary
  min-height: 100vh

#root
  @include flexbox
  @include flex-direction($direction: column)

header
  height: $header-height

header, footer, main > .content
  @include max-width($m-width: $max-inner-width)

header, footer
  @include flexbox
  @include align-items($value: center)

main
  @include flex($fg: 1)
  @include border-radius($radius: 30px)
  background: $color-light

footer
  height: $footer-height

div.square
  @include figure($width: 30px, $height: 30px)
  @include margin-padding($m-direction: top, $m-amount: 20px, $p-direction: left, $p-amount: 20px)
