@use 'sass:map'

$max-inner-width: 1200px
$header-height: 80px
$footer-height: 74px

$color-primary: #D3E2F9

$color-secondary-light: #F2F7FD
$color-secondary: #F1F7FF
$color-secondary-dark: #D6E1F2
$color-sedondary-darker: #9BAAC2

$color-light: #FFFFFF
$color-error: #FF918A

$color-text-primary: #2E4E5D

$theme-colors: () !default
